<!DOCTYPE html>
<html>
<head>
    <title>Anna's Blog</title>
</head>
<body>

    <header>
        <h1><a href="/">Anna's Blog</a></h1>
    </header>

    <p>Welcome to Anna's Blog. Here we are testing the functionality of a blog written in <strong>Django/Python</strong>.</p>

    {% for post in posts %}
        <article>
            <time>published: {{ post.published_date }}</time>
            <h2>{{ post.title }}</h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}

</body>
</html>